body{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-color: #fffbfb;
    padding: 20px;
    margin: 25px;
    }
    /* menu */
    .menu{
    text-align: center;
    list-style:none;
    border:2px solid hsl(0, 2%, 9%);
    float:left;
    background-color: rgb(250, 250, 250);
    font-size: 20px;
    margin-top: 20px; 
    margin-left: 200px;
    
    }
    
    /* separção das bordas do menu*/
    .menu li{
        position:relative;
        float:left;
        border-right:1px solid #070707;
        }
        .menu li a{color:rgb(0, 0, 0); text-decoration:none; padding:5px 10px; }
    
    /* menu quando passa o mouse*/
    .menu li a:hover{
    background:rgb(228, 225, 225);
    color:rgb(12, 11, 11);
    text-shadow:0px 0px 5px rgb(12, 12, 12);
    }
    .menu li  ul{
        position:absolute;
        top:25px;
        left:0;
        background-color:rgb(255, 248, 248);
        display:none;
        border:2px solid #000000; 
        }
    .menu li:hover ul, .menu li.over ul{display:block;}    
    .menu li ul li{
        border:1px solid #050505;
        display:block;
        width:150px;
        } 
        .topnav input[type=text] {
            float: right;
            padding: 5px;
            border: none;
            margin-top: -200px;
            margin-right: 40px;
            font-size: 17px;
            border: 6px solid rgb(0, 0, 0)
        }
        
        
    h1 { color: red;
        padding: 50px;
        }



.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}


.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.coluna{
  float: left;
  width: 33.33%;
.row::after {
  content: "";
  clear: both;
  display: table;
}
